@mixin floatFun(){
    content: '.';
    display: block;
    visibility: hidden;
    clear: both;
    width: 100%;
    height: 0;
    font-size: 0;
    zoom: 1;
}
@mixin nowrap(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin box(){
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
