.recommend-music {
    margin-top: 40px;
    .rm-title {
        font-size: 18px;
        color: #fff;
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        cursor: default;
        font-weight: bolder;
        a {
            float: right;
            font-size: 14px;
            color: #eee;
            text-decoration: none;
        } 
    }
    .rm-list {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
        -webkit-column-rule-width: 0;
        -moz-column-rule-width: 0;
        column-rule-width: 0;
        box-sizing:border-box;
        margin-top: 25px;
        font-family: "'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace";
        .m-list-item{
            display: block;
            margin-bottom: 25px;
            position: relative;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
            position:relative;
            .item-link{
                display: block;
                width: 100%;
                position:relative;
                img{
                    width: 100%;
                    display: block;
                    &.item-cd{
                        margin-left: 20px;
                        transition: all .25s ease-out;
                    }
                    &.item-img{
                        position:absolute;
                        z-index: 0;
                        box-shadow:5px 5px 20px rgba(0,0,0,.35);
                    }
                }
            }
            .item-play-count{
                position: absolute;
                right: -20px;
                border:1px solid #fff;
                font-size: 12px;
                bottom:40px;
                color: #fff;
                padding:3px 7px;
                transition: all .25s;
            }
            .item-tag{
                font-size: 12px;
                color: #fff;
                left: 0;
                line-height: 20px;
                height: 20px;
                margin-top: 5px;
                text-transform:uppercase;
                position: absolute;
                left: 5px;
                top: 5px;
                transition: all .25s;
            }
            .item-name{
                line-height: 20px;
                font-size: 13px;
                margin-top: 10px;
                color: #474283;
            }
            &:hover {
                .item-link{
                    .item-cd{
                        margin-left: 30px;
                    }
                }
                .item-tag{
                    color: #12c48b;
                }
                .item-play-count{
                    background-color: #fff;
                    color: #12c48b;
                }
            }
        }
    }
}