.header{
	background-color:#00785A;
	width:100%;
	box-sizing:border-box;
	padding:15px 30px;
	border-bottom:3px solid #005240;
	position:fixed;
	top:0;
	left:0;
	.cut-line{
		font-size: 15px;
		color: #005240;
	}
	.menu-link-item{
		font-size: 15px;
		color: #fff;
		font-weight: lighter;
		cursor: pointer;
		position: relative;
		padding:0 25px;
		transition: all .25s;
		text-decoration:none;
		&:before{
			content:'';
			position:absolute;
			left: 0;
			top:-4px;
			width: 0;
			height: 1px;
			background-color:#005240;
			transition: width .25s;
		}
		&:after{
			content:'';
			position:absolute;
			right: 0;
			bottom:-4px;
			width: 0;
			height: 1px;
			background-color:#005240;
			transition: width .25s;
		}
		&:hover{
			color: #34D19A;
			&:before,&:after{
				width: 80%;
			}
		}
		&.active{
			color: #34D19A;
		}
	}
}