.banner{
    width:100%;
    height: 100px;
    margin-top: 50px;
    .banner-container{
        width: 100%;
        display: flex;
        .banner-item{
            flex: 1;
            transition: all .25s;
            cursor: pointer;
            &.active{
                flex: 1.5;
                margin-top: -1.6%;
                .banner-link{
                    &:before{
                        background-color:transparent;
                    }
                }
            }
            &:hover{
                .banner-img {
                    transform: scale(1.2);
                }
                .banner-link{
                    &:before{
                        background-color:transparent;
                    }
                }
            }
        }
        .banner-link{
            display: block;
            width: 100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            box-shadow:3px 5px 12px rgba(0,0,0,.2);
            &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position:absolute;
                transition: background-color .25s;
                left: 0;
                top:0;
                background-color: rgba(0,0,0,0.5);
                z-index: 1;
            }
        }
        .banner-img{
            display: block;
            width: 100%;
            transition: all .25s;
        }
    }
}